<li class="post" id="post-<%= post._id %>">
    <!--give an id to the <li> bcz it would be useful when we're deleting a post-->
    <p>
        <% if(locals.user && locals.user.id == post.user.id) {%>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fa-solid fa-trash" style="color: #ff2424;"></i></a>
            </small>
        <% } %>
        <strong style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium;"><%= post.content %></strong>
        <br>
        <small>
            <%= post.user.name %>
        </small>
        <div id="post-comments"> 
            <!-- show form(for posting comments) only to signed in user -->
            <% if(locals.user) { %>
                <form action="/comments/create" method="POST" id="comment-form">
                    <input type="text" name="content" placeholder="Type here to add comments..." required autocomplete="off">
                    <!--sending the post id as hidden value to the route-->
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <br>
                    <input type="submit" value="Add comment">
                </form>
            <% } %>

            <div class="post-comments-list">
                <ul id="post-comments-<%= post._id %>">
                    <% for (comment of post.comments) {%>
                        
                        <%- include('_comment') -%>

                    <%} %>
                </ul>
            </div>
        </div>
    </p>
</li>